* {
  font-family: "Noto Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

.content {
  display: flex;
  flex-direction: column;
  width: 72ch;
  margin-right: auto;
  margin-left: auto;
  font-size: 1em;
}

.octicon {
  fill: white;
}

a:link {
  color: rgb(110, 168, 254);
}

div.content-table a:visited {
  color: rgb(110, 168, 254);
}

a:visited {
  color: #3770a8;
}

body {
  margin: 0;
  padding: 0;
}

.dark {
  color: white;
  background-color: #212529;
}
